/***** BASE STYLES *****/
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #2b2b2b;
}

ul {
  list-style-type: none;
}

/***** Mobile Styles *****/
/***** GRID *****/
.full-width {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/***** HEADER *****/
header {
  min-height: 800px;
  background: url("../img/hero.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}

header h1 {
  font-family: "Lora", serif;
  font-size: 30px;
  color: #bbc085;
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-top: 50px;
  padding-right: 25px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #828282;
}

header h2 {
  width: 100%;
  font-family: "Lora", serif;
  font-size: 4.5em;
  line-height: 80px;
  color: #9b9b9b;
  padding-left: 50px;
  padding-top: 50px;
}
header h2 span {
  color: #2b2b2b;
}
/***** ABOUT *****/
#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: "Lora" serif;
  font-size: 36px;
  padding-left: 50px;
}

#about p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/***** WORK *****/

.skills {
  width: 33%;
}

#work {
  background-color: #f9ceb7;
  text-align: center;
}

#work .full-width {
  padding: 115px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-size: 24px;
  line-height: 32px;
  width: 190px;
  margin: 0 auto;
}

#work p {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}

/***** CONTACT *****/

#contact {
  background-color: #ebebeb;
}

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-section-img {
  width: 100%;
}

.contact-section-info {
  width: 100%;
}

#contact .full-width {
  padding: 110px 0;
}

#contact img#contact-img {
  margin-left: 25px;
  border: 12px solid #ffffff;
  width: 100%;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul {
  padding-left: 115px;
}

#contact #envelope {
  padding-left: 115px;
  padding-top: 10px;
}

#contact h2 {
  font-family: "Lora", serif;
  font-size: 36px;
  line-height: 44px;
}

#contact #email-header {
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
  font-weight: bold;
  font-size: 29px;
  line-height: 44px;
  margin: 40px 0 0 0;
}

#contact a {
  text-decoration: none;
  color: #c49075;
  font-weight: bold;
  font-size: 28px;
}

#contact ul {
  list-style: none;
  display: flex;
}

#contact ul img {
  padding-right: 50px;
}
